.dropdown-wrapper {
    padding: 0;
    .dropDown-default-styles {
        min-width: 100%;
        margin: 0;
        .dropDown-label {
            position: static;
            font-family: "Montserrat", sans-serif;
            font-size: 1.14rem;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            color: #fff;
            margin-bottom: 0;
        }
        .MuiInput-root {
            margin-top: 0;
            .MuiSelect-select {
                padding: 0;
            }
        }
    }
}

.MuiPaper-root {
    position: relative;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    padding: 2.35rem 1rem 1.42rem 1rem;
}

.MuiList-root {
    color: #fff;
    padding: 0;
    h4 {
        width: 7rem;
        position: relative;
        font-weight: 800;
        font-size: 1.1rem;
        line-height: 20px;
        margin-bottom: 0.7rem;
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            border-top: 0.25rem solid;
            border-right: 0.18rem solid transparent;
            border-bottom: 0;
            border-left: 0.18rem solid transparent;
            margin-left: 0;
            transform: translate(0, -50%);
        }
    }
    h5 {
        font-weight: 800;
        font-size: 1.1rem;
        line-height: 20px;
        margin-bottom: 0.7rem;
    }
}

.MuiSelect-nativeInput {
    &:focus {
        outline: none;
    }
}

.MuiListItemText-root {
    .MuiTypography-root {
        font-family: "Montserrat", sans-serif;
        font-weight: 800;
        font-size: 0.8rem;
        line-height: 0.93rem
    }
}

.MuiInput-root {
    &::before {
        display: none;
    }
    &::after {
        display: none;
    }
}

.MuiFormControlLabel-root {
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
    &:last-of-type {
        border-bottom: 0;
    }
    .MuiTypography-root {
        font-family: "Montserrat", sans-serif;
        font-weight: 800;
        font-size: 0.8rem;
        line-height: 0.93rem;
        margin-left: 0.45rem;
    }
}
.apply_filter_mobile {
    display: none;
}

.red-network {
    position: absolute;
    right: 0.62rem;
    bottom: 0;
    white-space: nowrap;
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.25rem;
    color: #F6029C;
    z-index: 1;
}