.Layout-tabs-area {
    display: flex;
    justify-content: space-between;
    padding: 0 4.5rem;
    background: #222234;
    .MuiTabs-flexContainer {
        .MuiButtonBase-root {
            width: auto;
            min-width: auto;
            font-family: "Montserrat", sans-serif;
            font-size: 1.14rem;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            color: #fff;
            text-transform: unset;
            letter-spacing: 0;
            align-items: self-start;
            justify-content: flex-start;
            padding: 0.8rem 0;
            &.Mui-selected {
                color: #fff;
            }
            &.pools_btn {
                margin-right: 2.7rem;
            }
        }
    }
    .MuiTabs-indicator {
        &.indicator {
            height: 3px;
            display: flex;
            justify-content: center;
            background-color: transparent;
            justify-content: flex-start;
            &>span {
                width: 100%;
                background-color: #fff;
            }
        }
        .flexContainer {
            flex-direction: row;
            max-width: 50%;
            justify-content: center;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .Layout-tabs-area {
        padding: 0 2.7rem;
    }
}

@media only screen and (max-width: 768px) {
    .Layout-tabs-area {
        padding: 0 1.14rem;
    }
}