.header-wrapper {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    padding: 0 4.5rem;
    align-items: center;
    justify-content: space-between;
    background-color: #0A0A1E;
    .mobile-menu-wrapper {
        display: none;
    }
    .header-title {
        font-size: 1.42rem;
        color: white;
    }
    .header-buttons-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        .dropdown-wrapper {
            margin-right: 2.3rem;
            .dropdown {
                button {
                    position: relative;
                    font-weight: 500;
                    font-size: 1.15rem;
                    line-height: 1.25rem;
                    text-transform: capitalize;
                    letter-spacing: 0;
                    padding: 0.42rem 1.28rem;
                }
            }
        }
        .login-btn {
            font-weight: 500;
            font-size: 1.15rem;
            line-height: 1.25rem;
            letter-spacing: 0;
            padding: 0.5rem 1.85rem;
            margin-left: 1.42rem;
        }
    }
    .header-network-wrapper {
        color: white;
        display: flex;
        flex-direction: column;
    }
}
.opium-link {
    a {
        color: #fff;
        font-weight: 500;
        font-size: 1.15rem;
        line-height: 1.25rem;
        letter-spacing: 0;
        &::before {
            display: none;
        }
    }
}
.MuiOutlinedInput-root {
  background: transparent;

}
.MuiSelect-select {
  font-family: "Montserrat", sans-serif;
  font-size: 1.14rem;
  font-style: normal;
  font-weight: 500;
  line-height: 0.31rem;
  color: #fff;
  margin-bottom: 0;
}
.MuiMenuItem-root {
  p {
    font-family: "Montserrat", sans-serif;
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 800;
    line-height: 0.9rem;
    color: #fff;
    margin-bottom: 0;
    
  }
  img {
    width: 1.2rem;
    height: 1.2rem;
  }
}
@media only screen and (max-width: 768px) {
    .header-wrapper {
        padding: 0 1.14rem;
        .mobile-menu-wrapper {
            display: flex;
        }
        .header-buttons-wrapper {
            flex-direction: column;
            display: none;
        }
    }
}