.MuiAccordionSummary-content {
    p {
        font-family: "Montserrat", sans-serif;
        font-size: 1.14rem;
        font-style: normal;
        font-weight: 800;
        line-height: 20px;
        letter-spacing: 0;
    }
}
.MuiTypography-root {
    flex: 1;
    margin-left: 0.45rem;
}
.title_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.MuiListItemIcon-root {
    img {
        margin: 0 auto;
    }
}
.btn-wrapper {
    position: relative;
}
.MuiFormGroup-root {
    width: 100%;
}