.positions-list-popup {
    .modal-dialog {
        max-width: 90vw !important;
    }
}

.CollapseContainer {
    width: 100%;
    padding: 0 4.5rem;
    &__container {
        overflow: hidden;
    }
    .CollapseContainer__container {
        background: #0A0A1E;
        border: 0.5px solid rgba(255, 255, 255, 0.3);
    }
}

.collapse-item {
    margin-bottom: 1rem;
}

.pools-list-item-header-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.71rem 2.64rem;
    .pools-list-item-header-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        // background: peachpuff;
        .pools-list-item-header-title {
            width: 50%;
            display: flex;
            align-items: center;
            font-size: 1.42rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.42rem;
            // background: #187CD8;
            // &::before {
            //   content: '';
            //   width: 2.85rem;
            //   height: 2.85rem;
            //   min-width: 2.85rem;
            //   min-height: 2.85rem;
            //   border-radius: 50%;
            //   background-color: #187CD8;
            //   margin-right: 2.5rem;
            // }
        }
        .pools-list-item-header-address {
            width: 50%;
            // background: pink;
            a {
                font-size: 1.14rem;
                font-style: normal;
                font-weight: 500;
                line-height: 20px;
                color: white;
                &::before {
                    display: none;
                }
            }
        }
    }
}

//********** OPEN PHASE ***********//
.pools-list-item-body-wrapper {
    padding: 0 35px;
    .pools-item-title {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
    }
    .pools-list-item-info {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        // background-color: rgba(78, 62, 122, 0.2);
        // height: 13rem;
        padding: 46px 0 34px;
        .pools-list-item-first-column {
            width: 30%;
            height: 100%;
            &>* {
                font-size: 13px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .pool-list-item-no-epoch {
                    margin-bottom: 10px;
                }
                &>* {
                    margin: .2rem 0;
                }
            }
            .pools-list-item-phase-current {
                margin-bottom: 30px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                .current-phase-text {
                    font-weight: bold;
                    margin-left: 7px;
                    font-size: 15px;
                }
            }
            .bold-text {
                font-weight: bold;
                font-size: 14px;
            }
        }
        .pools-list-item-second-column {
            width: 25%;
            font-size: 12px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            .pools-list-item-balance {
                display: flex;
                flex-direction: row;
                &>* {
                    margin-right: 5px;
                }
            }
            .pools-list-item-second-column-buttons-wrapper {
                width: 100%;
                display: flex;
                button {
                    margin-right: 1rem;
                }
            }
        }
        .pools-list-item-third-column {
            width: 25%;
            font-size: 12px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            .pools-list-item-purchase {
                margin-right: 1px;
                display: flex;
                flex-direction: row;
                align-items: center;
                &>* {
                    margin-right: 5px;
                }
            }
            .pools-list-item-third-column-buttons-wrapper {
                width: 100%;
                display: flex;
                button {
                    margin-right: 1rem;
                }
            }
        }
        .pools-list-item-fourth-column {
            width: 17%;
            &>* {
                align-self: flex-start;
            }
        }
        .pools-list-item-input {
            width: 50%;
            font-size: 12px;
            display: flex;
            flex-direction: column;
            input {
                height: 16px;
                background: transparent;
                border-radius: 0;
                font-family: "Montserrat", sans-serif !important;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                padding: 0;
                outline: none;
                box-shadow: none;
                border: none;
                transition: border-color .25s ease;
                &:focus {
                    background-color: transparent;
                }
                &:disabled {
                    background-color: transparent !important;
                    border: 0;
                }
                color: white;
                border-bottom: 1px solid rgba(white, .3) !important;
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
                /* Firefox */
                &[type=number] {
                    -moz-appearance: textfield;
                }
            }
        }
    }
}

.pools-list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
    background-color: #0A0A1E;
}

.arrow-button {
    cursor: pointer;
    svg {
        transform: rotate(0deg);
        transition: transform .3s ease;
        path {
            transition: fill .3s ease;
        }
    }
    &.up {
        svg {
            transform: rotate(180deg);
        }
    }
}

@media only screen and (min-width: 1440px) {
    .pools-list-item-header-wrapper {
        .pools-list-item-header-info {
            .pools-list-item-header-title {
                width: 40%;
            }
            .pools-list-item-header-address {
                width: 60%;
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .pools-list-item-header-wrapper {
        .pools-list-item-header-info {
            .pools-list-item-header-title {
                font-size: 1.14rem;
            }
            .pools-list-item-header-address {
                a {
                    font-size: 1rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    .pools-list-item-header-wrapper {
        flex-direction: column;
        .pools-list-item-header-info {
            width: 100%;
            justify-content: flex-start;
            flex-wrap: wrap;
            .pools-list-item-header-address {
                width: 100%;
                margin: 2.15rem 0 1.85rem;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .CollapseContainer {
        padding: 0 1.14rem;
    }
    .collapse-item {
        margin-bottom: 2.28rem;
    }
    .pools-list-item-header-wrapper {
        padding: 1.14rem;
        .pools-list-item-header-info {
            &::before {
                margin-right: 3rem;
            }
            .pools-list-item-header-title {
                width: auto;
            }
            .pools-list-item-header-address {
                margin: 1.12rem 0 0.85rem;
                a {
                    word-break: break-all;
                }
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .pools-list-item-header-wrapper {
        .pools-list-item-header-info {
            &::before {
                width: 2.28rem;
                height: 2.28rem;
            }
            .pools-list-item-header-title {
                font-size: 1.14rem;
            }
            .pools-list-item-header-address {
                a {
                    font-size: 0.85rem;
                }
            }
        }
    }
}